.path-mod-tresipuntaudio .tresipuntaudiocontent {
    text-align: center;
}

.path-mod-tresipuntaudio .tresipuntaudiodetails {
    font-size: 0.8em;
    color: #555;
}

.tresipuntaudiolinkdetails {
    font-size: 0.8em;
    color: #555;
}
